{
  "extends": "eslint-config-ali/react",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "AK_GLOBAL": true,
    "dd": {},
    "_czc": {},
    "dplus": {},
    "salt": {},
    "_": true,
    "homePageData": {},
    "Lang": {}
  },
  "rules": {
    "linebreak-style": [0, "error", "windows"],
    "max-len": 0,
    "new-cap": 0,
    "no-param-reassign": 0,
    "no-prototype-builtins": 0,
    "prefer-const": 0,
    "prefer-destructuring": 0,
    "radix": ["error", "as-needed"],
    "react/jsx-no-bind": 0,
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/no-array-index-key": 0,
    "react/no-danger": 0,
    "react/no-did-mount-set-state": 0,
    "react/no-unescaped-entities": 0,
    "react/prop-types": 0
  }
}