.git
.svn
.hg
.zip
.gz
.DS_Store
.idea
.idea/
.idea/*
.target
.target/
**/**/target/**
target/*
*/target
*/target/*
.settings
.nbproject
.classpath
.project
*.iml
*.ipr
*.iws
*.tgz
.*.swp
.vim
.tmp
node_modules
npm-debug.log
.vscode
logs/*
.www
t.*
yarn.lock
package-lock.json
config.gypi
/md_json
/404.html
/index.html
/build/
/dist/
/en-us/
/zh-cn/

# Migrate document to main docs
swap/
docs/
site_config/docs*.js
site_config/site.js
src/pages/docs/index.md.jsx
# development resource
development/
img/architecture-design/
