.connect {
  height: 420px;
  background-color: #0097e0;
  text-align: center;
  width: 100%;

  &-title {
    font-weight: 700;
    color: #ffffff;
    font-size: 60px;
    padding: 40px;

    @media screen and (max-width: 640px) {
      font-size: 7vw;
    }
  }
  &-desc {
    color: #ffffff;
    font-size: 18px;
    line-height: 48px;

    @media screen and (max-width: 640px) {
      font-size: 14px;
      line-height: 2;
    }
  }
  .ant-btn {
    width: 219px;
    height: 60px;
    line-height: 2.5;
    background-color: #ffffff;
    border-radius: 93px;
    box-sizing: border-box;
    font-weight: 700;
    color: #0097e0;
    font-size: 18px;
    margin-top: 80px;
    vertical-align: middle;

    @media screen and (max-width: 640px) {
      margin-top: 20px;
    }
  }
}
