@import "../../styles/size.scss";
@import "../../styles/mixin.scss";

.deployment {
  &-top {
    height: 206px;
    background-color: #f5f5f5;
    padding-top: 18px;
  }
  &-box {
    margin: 0 auto;
    @include content-width;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    &-icon {
      width: 57px;
      height: 57px;
      border-radius: 17px;
      @include bg-100;
    }
    &-text {
      color: #000000;
      font-size: 18px;
      line-height: 43px;
    }
    &.active {
      pointer-events: none;
    }
    &.active &-text {
      color: #0097e0;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  &-release {
    text-align: right;
  }

  &-content {
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    &-title {
      font-weight: 700;
      color: #031b3e;
      font-size: 48px;
      line-height: 90px;
    }
    &-bold {
      font-weight: 700;
      color: #000000;
      font-size: 18px;
      line-height: 43px;
    }
    &-tips {
      color: #000000;
      font-size: 16px;
      line-height: 24px;
      padding: 8px 0px;
    }
    .ant-btn {
      padding: 0px 10px;
      font-size: 16px;
    }
    .ant-collapse-header {
      font-weight: 700;
      color: #000000;
      font-size: 18px;
      line-height: 43px;
    }

    &-version {
      padding: 20px 30px 0px 30px;
      position: relative;
    }
    &-documentation {
      position: absolute;
      right: 30px;
      top: 0px;
    }
    &-hints {
      padding-bottom: 60px;
    }
    &-versions {
      flex-grow: 1;
    }
    &-img {
      width: 445px;
      height: 296px;
      flex-shrink: 0;
      margin-left: 30px;
      @include bg-100;
    }
    &-log-content {
      h1 {
        font-size: 1.7em;
      }
    }
  }
}
