@mixin bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin bg-100 {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin content-width {
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
  @media screen and (max-width: 1280px) {
    width: 100%;
    padding: 0 2vw;
    box-sizing: border-box;
  }
}
