ErrorDocument 404 /index.html
RedirectMatch 404 /\.htaccess
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin: https://dolphinscheduler.apache.org/
    Header set Access-Control-Allow-Methods "*"
    Header set Access-Control-Allow-Headers "*"
    Header set Content-Security-Policy "frame-src 'self' https://www.google.com https://app.netlify.com"
</IfModule>
