@import "../../variables.scss";
@import "../../reset.scss";

@keyframes slashStar {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home-page {
  min-width: 1100px;
  .top-section {
    width: 100%;
    position: relative;
    height: auto;
    .pc-bg {
      width: 100%;
    }
    .animation {
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #1be1f6;
    }
    .animation1 {
      left: 15%;
      top: 70%;
      animation: slashStar 2s ease-in-out 0.3s infinite;
    }
    .animation2 {
      left: 34%;
      top: 35%;
      animation: slashStar 2s ease-in-out 1.2s infinite;
    }
    .animation3 {
      left: 53%;
      top: 20%;
      animation: slashStar 2s ease-in-out 0.5s infinite;
    }
    .animation4 {
      left: 72%;
      top: 64%;
      animation: slashStar 2s ease-in-out 0.8s infinite;
    }
    .animation5 {
      left: 87%;
      top: 30%;
      animation: slashStar 2s ease-in-out 1.5s infinite;
    }
    .vertical-middle {
      position: absolute;
      left: 0;
      top: 40%;
      transform: translateY(-50%);
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      padding: 0 20px;
    }
    .product-name {
      position: relative;
      display: inline-block;
      h2 {
        font-family: Avenir-Heavy;
        font-size: 46px;
        color: #fff;
        text-align: center;
        word-break: break-word;
        margin: 0;
      }
    }
    .product-desc {
      opacity: 0.6;
      font-family: Avenir-Medium;
      font-size: 24px;
      color: #fff;
      text-align: center;
      margin: 12px auto 0;
      max-width: 730px;
    }
    .button-area {
      text-align: center;
      margin-top: 40px;
      .button {
        margin-right: 20px;
      }
      .button:last-child {
        margin-right: 0;
      }
    }
    .github-buttons {
      margin-top: 20px;
      text-align: center;
      a {
        margin-right: 12px;
        &:last-child {
          margin-right: 0;
        }
        div {
          border-radius: 2px;
          display: inline-block;
          height: 24px;
          line-height: 24px;
          font-size: 12px;
          padding: 0 8px;
          color: #fff;
          background: rgba(255, 255, 255, 0.2);
          img {
            width: 16px;
            height: 16px;
            vertical-align: middle;
            margin-top: -6px;
          }
          .count {
            font-family: TXD_D_Medium;
            font-size: 16px;
            padding-left: 4px;
            display: inline-block;
            height: 100%;
            min-width: 30px;
          }
        }
      }
    }
    .version-note {
      text-align: center;
      margin: 22px 0 10px;
      a {
        text-decoration: none;
        display: inline-block;
        font-family: Avenir-Heavy;
        font-size: 14px;
        color: #fff;
        text-align: center;
        background: #46484b;
        border-radius: 2px;
        line-height: 24px;
        padding: 0 6px;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .release-date {
      font-family: Avenir-Medium;
      font-size: 12px;
      color: #999;
      text-align: center;
    }
  }
  .introduction-section {
    background: #f9fafa;
    .introduction-body {
      max-width: $contentWidth;
      box-sizing: border-box;
      margin: 0 auto;
      min-height: 640px;
      padding: 0 0px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &::before {
        content: "";
        position: relative;
        top: 102px;
        left: 40px;
        opacity: 0.3;
        border-right: 1px solid #666;
      }
      &::after {
        content: "";
        position: relative;
        left: 39px;
        top: 165px;
        height: 17px;
        background-image: linear-gradient(0deg, $startColor 0%, $intermediateColor 51%, $endColor 100%);
      }
      .introduction {
        min-width: 300px;
        margin: 80px auto 0px auto;
        h3 {
          font-family: Avenir-Heavy;
          text-align: center;
          font-size: 36px;
          color: #333;
          margin-bottom: 30px;
          word-break: break-word;
          width: 940px;
          // height: 54px;
        }
        p {
          opacity: 0.56;
          font-family: Avenir-Medium;
          font-size: 22px;
          width: 940px;
          height: 64px;
          color: #130e0e;
        }
      }
      img {
        width: 880px;
        height: 425px;
        margin: 40px 82px;
        max-width: 100%;
        // box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
      }
    }
  }
  .feature-section {
    box-sizing: border-box;
    max-width: $contentWidth;
    margin: 0 auto;
    position: relative;
    padding: 80px 40px 40px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
      opacity: 0.3;
      border-right: 1px solid #666;
    }
    &::after {
      content: "";
      position: absolute;
      top: 66px;
      left: 50%;
      transform: translateX(-50%);
      height: 17px;
      background-image: linear-gradient(0deg, $startColor 0%, $intermediateColor 51%, $endColor 100%);
    }
    h3 {
      font-family: Avenir-Heavy;
      font-size: 36px;
      color: #333;
      text-align: center;
      margin: 0 0 40px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      li {
        text-align: center;
        display: block;
        padding-bottom: 40px;
        width: 25%;
        cursor: pointer;
        &:hover {
          box-shadow: 0px 0px 12px 0px rgba(0, 15, 32, 0.1);
        }
        img {
          margin: 20px auto;
          width: 74px;
          height: 74px;
          display: block;
        }
        div {
          display: inline-block;
          width: 80%;
          h4 {
            font-family: Avenir-Heavy;
            font-size: 24px;
            color: #333;
            margin-top: 10px;
            height: 32px;
            font-weight: 400;
            color: #333333;
            line-height: 32px;
          }
          p {
            width: 200px;
            height: 128px;
            font-size: 16px;
            font-weight: 400;
            color: #666666;
            line-height: 32px;
            margin: 30px auto;
            font-family: Avenir-Medium;
          }
        }
      }
    }
  }
  .events-section {
    max-width: $contentWidth;
    margin: 0px auto 70px;
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
    .swiper-container {
      overflow: hidden;
    }
    .swiper-button-next {
      position: absolute;
      right: 10px;
    }
    .swiper-pagination {
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      .swiper-pagination-bullet:not(:last-child){
        margin-right: 10px;
      }
    }
    .swiper-button-prev {
      position: absolute;
      left: 10px;
    }
    h3 {
      font-family: Avenir-Heavy;
      font-size: 36px;
      color: #333;
      text-align: center;
      margin: 40px 0 60px;
    }
    .event-card {
      width: 100%;
      font-size: 0;
      img {
        width: 100%;
        height: 209px;
      }
      .event-introduction {
        padding: 20px;
        h4 {
          font-family: Avenir-Heavy;
          font-size: 20px;
          color: #333;
          margin: 0 0 10px;
        }
        p {
          font-family: Avenir-Medium;
          font-size: 14px;
          color: #666;
          margin: 0;
        }
        a {
          display: inline-block;
          width: 100%;
          font-family: Avenir-Medium;
          font-size: 12px;
          color: #999;
          margin-top: 10px;
          .arrow {
            width: 8px;
            height: 13px;
            float: right;
          }
        }
      }
    }
  }
  .ourusers-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    h3 {
      font-family: Avenir-Heavy;
      font-size: 36px;
      color: #333;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 60px;
    }
    .button1-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      img {
        width: 80px;
        height: 80px;
        &:hover {
          box-shadow: 0px 0px 12px 0px rgba(9, 97, 197, 0.1);
        }
      }
      button {
        border: hidden;
        background-color: transparent;
      }
      .overflow-section {
        display: flex;
        width: 70%;
        ul {
          display: inline-flex;
          flex-wrap: wrap;
          li {
            list-style: none;
            margin: 5px 5px 5px 5px;
            img {
              width: 100px;
              height: 100px;
              &:hover {
                box-shadow: 0px 0px 12px 0px rgba(9, 97, 197, 0.1);
              }
            }
          }
        }
      }
    }
  }
  .review-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    h3 {
      font-family: Avenir-Heavy;
      font-size: 36px;
      color: #333;
      text-align: center;
      margin-top: 40px;
    }
    .button-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      img {
        width: 80px;
        height: 80px;
        &:hover {
          box-shadow: 0px 0px 12px 0px rgba(9, 97, 197, 0.1);
        }
      }
      button {
        border: hidden;
        background-color: transparent;
      }
      .overflow-section {
        overflow: hidden;
        width: 65%;
        height: 350px;
        margin: 40px 0px 20px 0px;
        background: #f9fafa;
        display: flex;
        align-items: center;
        ul {
          display: -webkit-box;
          align-items: center;
          flex-direction: row;
          width: 100%;
          li {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            width: 100%;
            img {
              width: 150px;
              height: 150px;
              margin: 0 40px 0 50px;
            }
            .name-section {
              display: flex;
              flex-direction: column;
              margin-left: 20px;
            }
            p {
              font-family: Avenir-Heavy;
            }
            .pr {
              font-size: 20px;
              margin-right: 20px;
            }
            .pn {
              font-size: 18px;
              text-align: right;
              margin-top: 40px;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
  .users-section {
    box-sizing: border-box;
    max-width: $contentWidth;
    margin: 0 auto;
    padding: 80px 40px 40px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
      opacity: 0.3;
      border-right: 1px solid #666;
    }
    &::after {
      content: "";
      position: absolute;
      top: 66px;
      left: 50%;
      transform: translateX(-50%);
      background-image: linear-gradient(0deg, $startColor 0%, $intermediateColor 51%, $endColor 100%);
    }
    h3 {
      font-family: Avenir-Heavy;
      font-size: 36px;
      color: #333;
      text-align: center;
      margin-bottom: 40px;
    }
    p {
      font-family: Avenir-Medium;
      font-size: 14px;
      color: #666;
      text-align: center;
      margin: 0 0 40px;
      a {
        color: #1e6bb8;
        text-decoration: none;
      }
    }
    .users {
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: space-between;
      display: inline-block;
      text-align: center;
      width: 140px;
      height: 80px;
      margin-right: 10px;
      margin-bottom: 20px;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  @media screen and (max-width: $mobileWidth) {
    min-width: auto;
    .top-section {
      height: 100vh;
      max-height: 1335px;
      background-image: url("/img/banner-mobile.png");
      background-position: right 50% bottom 0%;
      background-size: cover;
      .pc-bg {
        display: none;
      }
      .product-name {
        h2 {
          font-size: 36px;
        }
      }
      .product-desc {
        font-size: 18px;
      }
    }
    .introduction-section {
      padding: 0 20px;
      &::before {
        left: 20px;
      }
      &::after {
        left: 19px;
      }
      .introduction-body {
        min-height: auto;
        .introduction {
          margin: 40px auto 0 auto;
          h3 {
            width: 100%;
            font-size: 28px;
          }
          p {
            font-size: 18px;
            width: 100%;
            height: auto;
            text-align: center;
          }
        }
        img {
          width: 100%;
          margin: 40px 0;
          height: auto;
        }
      }
    }
    .feature-section {
      padding: 40px 20px;
      h3 {
        font-size: 28px;
        margin: 0 0 20px 0;
      }
      ul {
        width: 100%;
        flex-direction: column;
        li {
          width: 100%;
        }
      }
    }
    .events-section {
      h3 {
        font-size: 28px;
        margin: 20px 0 40px 0;
      }
      padding: 0 10px;
      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }
  }
}
