@import "../../variables.scss";

.footer-container {
  background: #f8f8f8;
  .footer-body {
    max-width: $contentWidth;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px 40px 0;
    img {
      // display: block;
      width: 125px;
      height: 56px;
      margin-bottom: 10px;
      vertical-align: middle;
    }
    h3 {
      font-family: Avenir-Heavy;
      text-align: center;
      font-size: 36px;
      color: #000f20;
      margin-bottom: 20px;
      word-break: break-word;
      height: 54px;
    }
    h4 {
      font-family: Avenir-Heavy;
      text-align: center;
      font-size: 22px;
      color: #666666;
      margin-bottom: 40px;
      word-break: break-word;
      height: 32px;
    }
    .contact-container {
      ul {
        display: flex;
        margin-top: 80px;
        margin-bottom: 40px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
        li {
          list-style: none;
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-self: center;
          }
          p {
            font-family: Avenir-Heavy;
            font-size: 22px;
            color: #000f20;
            width: 280px;
            text-align: center;
          }
          &:hover p {
            color: #288fff;
          }
          img {
            width: 80px;
            height: 80px;
          }
          .img-base {
            display: block;
          }
          .img-change {
            display: none;
          }
          &:hover .img-base {
            display: none;
          }
          &:hover .img-change {
            display: block;
          }
        }
      }
    }
    .cols-container {
      margin: 100px 0px 60px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .docu-container {
        margin-left: 0px;
        h4 {
          color: #000f20;
          font-family: Avenir-Heavy;
          font-size: 22px;
          text-align: left;
          margin-bottom: 10px;
        }
        ul {
          display: flex;
          flex-direction: row;
          border-top: 1px solid #ccc;
          li {
            margin-top: 10px;
            list-style: none;
            margin-right: 35px;
            p {
              font-family: Avenir-Heavy;
              font-size: 16px;
              color: #000f20;
            }
            &:hover p {
              color: #288fff;
            }
          }
        }
      }
      .asf-container {
        margin-left: 200px;
        h4 {
          color: #000f20;
          font-family: Avenir-Heavy;
          font-size: 22px;
          text-align: left;
          margin-bottom: 10px;
        }
        ul {
          display: flex;
          flex-direction: row;
          border-top: 1px solid #ccc;
          li {
            margin-top: 10px;
            list-style: none;
            margin-right: 30px;
            p {
              font-family: Avenir-Heavy;
              font-size: 16px;
              color: #000f20;
            }
            &:hover p {
              color: #288fff;
            }
          }
        }
      }
    }
    .copyright {
      border-top: 1px solid #ccc;
      min-height: 60px;
      line-height: 20px;
      text-align: center;
      font-family: Avenir-Medium;
      font-size: 12px;
      color: #999;
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  .footer-container {
    .footer-body {
      padding: 40px 20px;
      h3 {
        font-size: 28px;
        height: auto;
      }
      h4 {
        font-size: 20px;
        height: auto;
      }
      .contact-container {
        ul {
          margin-top: 20px;
          flex-wrap: wrap;
          justify-content: center;
          li {
            margin-bottom: 20px;
            width: 50%;
            p {
              width: auto;
            }
          }
        }
      }
      .cols-container {
        margin: 60px 0 20px 0;
        flex-direction: column;
        .docu-container,.asf-container {
          margin: 0 0 50px 0;
          ul {
            flex-wrap: wrap;
            padding-top: 10px;
            justify-content: center;
            li {
              margin: 8px 15px;
            }
          }
          h4 {
            text-align: center;
          }
        }
      }
      .copyright {
        padding-top: 20px;
      }
    }
  }
}
