.documentation-detail {
  &-content {
    padding-bottom: 30px;
    line-height: 1.5;
    img {
      max-width: 100%;
    }
    h1 {
      display: none;
    }
    iframe {
      width: 100%;
      height: 300px;
    }
  }
  &-title {
    font-weight: 700;
    color: #031b3e;
    font-size: 32px;
    line-height: 53px;
    padding-top: 30px;
    padding-bottom: 5px;
  }
  &-desc {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
    border-bottom: 1px solid #e2e2e2;
  }
  &-time {
    color: #b5b5b5;
    font-size: 14px;
  }
  &-support {
    color: #031b3e;
    font-size: 14px;
    .ant-btn {
      padding: 0px;
      font-size: 14px;
    }
    @media screen and (max-width: 640px) {
      display: none;
    }
  }
  &-structure {
    width: 300px;
  }
  &-link {
    padding: 5px 0px;
    .ant-typography {
      font-size: 18px;
    }
  }
}
