.home-features {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    font-weight: 700;
    color: #031b3e;
    font-size: 50px;

    @media screen and (max-width: 640px) {
      font-size: 7vw;
    }
  }

  &-list {
    width: 100%;
    display: flex;
    margin-top: 60px;
    justify-content: space-between;

    @media screen and (max-width: 640px) {
      flex-wrap: wrap;
      margin-top: 0px;
    }
  }

  &-item {
    width: 280px;
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;

    &-img {
      width: 74px;
      height: 74px;
      margin-top: 30px;
      margin-bottom: 30px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &-title {
      font-weight: 700;
      color: #031b3e;
      font-size: 30px;
      text-align: center;

      @media screen and (max-width: 640px) {
        font-size: 3.8vw;
      }
    }

    &-desc {
      margin-top: 20px;
      color: #000000;
      font-size: 14px;
      line-height: 1.3;

      @media screen and (max-width: 640px) {
        font-size: 12px;
        line-height: 1.5;
      }
    }

    &:hover {
      background-color: rgba(37, 99, 235, 0.1);
    }

    @media screen and (max-width: 640px) {
      width: 38%;
    }
  }

  &-btn {
    margin-top: 50px;
  }
}
