@import "../../styles/size.scss";
@import "../../styles/mixin.scss";

.home-tasks {
  width: 100%;
  min-height: 680px;
  padding: 96px 16px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 640px) {
    min-height: auto;
    padding: 64px 12px;
  }

  &-bg {
    transform: rotate(-2deg);
    opacity: 7%;
    width: 130%;
    height: 660px;
    background-image: linear-gradient(
      119.03deg,
      #0097e0 0%,
      #b2e4fc 100%,
      #000000 100%
    );
    position: absolute;
    z-index: 1;

    @media screen and (max-width: 640px) {
      height: 100%;
    }
  }

  &-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    @include content-width;
  }


  &-title {
    font-weight: 700;
    color: #031b3e;
    font-size: 48px;
    display: flex;
    align-items: baseline; 
    justify-content: center;
    gap: 12px;
    margin-top: 80px;
    text-align: center;
    flex-wrap: wrap;
    line-height: 1.2;

    @media screen and (max-width: 640px) {
      font-size: 5vw;
      margin-top: 24px;
      line-height: 1.3;
    }
  }

  &-total {
    padding: 0 8px;
    font-size: 80px;
    line-height: 1;
    position: relative;
    top: 0; 

    @media screen and (max-width: 640px) {
      font-size: 10vw;
    }
  }

  &-wrap {
    display: flex;
    width: 100%;
    overflow: hidden;
  }

  &-animation {
    display: flex;

    &:hover {
      animation-play-state: paused;
    }
  }

  &-list {
    display: flex;
    padding-top: 40px;

    @media screen and (max-width: 640px) {
      padding-top: 24px;
    }
  }

  &-item {
    margin-left: 50px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 640px) {
      margin-left: 24px;
    }

    &-img {
      width: 125px;
      height: 125px;
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (max-width: 640px) {
        width: 56px;
        height: 56px;
        background-size: contain;
      }
    }

    &-text {
      color: #031b3e;
      font-size: 12px;
      line-height: 2;
      text-align: center;

      @media screen and (max-width: 640px) {
        font-size: 10px;
      }
    }
  }

  &-right {
    animation: 30s linear infinite slidein;
  }

  &-left {
    animation: 30s linear infinite slideout;
  }
}

@keyframes slidein {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideout {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
