@import "../../styles/size.scss";
@import "../../styles/mixin.scss";

.usecase {
  &-top {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/bg/banner_bg.png");
    @include bg;

    &-bg {
      width: 492px;
      height: 350px;
      background-image: url("../../images/bg/use-case.png");
      @include bg-100;

      @media screen and (max-width: 640px) {
        display: none;
      }
    }
  }
  &-title {
    font-weight: 700;
    color: #031b3e;
    font-size: 68px;
    line-height: 90px;
    width: 780px;

    @media screen and (max-width: 640px) {
      width: 100%;
      font-size: 8vw;
      text-align: center;
    }
  }
  &-user {
    padding: 60px 0px 40px;
    &-title {
      font-weight: 700;
      color: #031b3e;
      font-size: 48px;
      text-align: center;
      @media screen and (max-width: 640px) {
        font-size: 6vw;
      }
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      padding-top: 60px;
      padding-left: 20px;

      @media screen and (max-width: 640px) {
        padding-top: 4vw;
        padding-left: 2vw;
      }
    }
    &-list-less {
      width: 1400px;
      justify-content: space-around;
      margin: 0 auto;
    }
    .ant-image {
      box-shadow: 4px 6px 22px rgba(0, 0, 0, 0.11);
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 20px;
      border-radius: 10px;
      .ant-image-img {
        width: 250px !important;
        height: 113px !important;
        border-radius: 10px;

        @media screen and (max-width: 640px) {
          width: 22vw !important;
          height: 9vw !important;
          border-radius: 3px;
        }
      }
      @media screen and (max-width: 640px) {
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 2vw;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.11);
      }
    }
    &-more {
      text-align: center;
      margin-top: 30px;
    }
  }
  &-cases {
    @include content-width;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 70px;

    @media screen and (max-width: 640px) {
      width: 100vw;
      padding: 1vw;
    }
    &-title {
      font-weight: 700;
      color: #031b3e;
      font-size: 48px;
      line-height: 53px;
      text-align: center;
      @media screen and (max-width: 640px) {
        font-size: 6vw;
        line-height: 1.5;
      }
    }
    &-list {
      display: flex;
      padding-top: 40px;
      flex-wrap: wrap;

      @media screen and (max-width: 640px) {
        padding-top: 0px;
        padding-bottom: 3vw;
      }
    }
    &-item {
      margin: 40px 10px 0px;
      width: 456px;
      height: 460px;
      background-color: #ffffff;
      border: 1px solid rgba(112, 112, 112, 0.6);
      border-radius: 15px;
      padding: 28px 28px 10px;
      box-sizing: border-box;
      position: relative;

      @media screen and (max-width: 640px) {
        width: 94vw;
        height: 94vw;
        padding: 2vw;
        margin-top: 3vw;
      }

      .ant-image-img {
        width: 400px !important;
        height: 220px !important;
        border: 1px solid #707070;
        border-radius: 10px;

        @media screen and (max-width: 640px) {
          width: 89vw !important;
          height: 46vw !important;
        }
      }

      &-title {
        color: #031b3e;
        font-size: 24px;
        line-height: 36px;
        padding-top: 10px;
        margin-bottom: 6px !important;
      }

      &-text {
        height: 68px;
      }

      &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
      }

      &-logo {
        width: 158px;
        height: 62px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
      }
    }
  }
}
