.search {
  padding-bottom: 20px;
  &-top {
    height: 200px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-title {
    width: 1000px;
    padding-top: 40px;
    padding-bottom: 18px;
    font-weight: 700;
    color: #031b3e;
    font-size: 32px;
    line-height: 1;
  }
  &-input {
    border-color: #b5b5b5;
    border-radius: 22px;
    width: 880px;
  }
  &-btn {
    width: 110px;
  }

  &-content {
    width: 1000px;
    margin: -46px auto 0px;
    position: relative;

    .ant-tabs-ink-bar {
      display: none !important;
    }

    img {
      width: 100%;
    }
  }
  &-item {
    border-bottom: 1px solid #e2e2e2;
  }
  .events-desc {
    margin-left: 0px;
    box-shadow: 0px 3px 25px rgb(0 0 0 / 11%);
    border-radius: 15px;
    padding: 20px;
    margin-top: 10px;
  }
  .events-buttons {
    position: static;
    width: 100%;
    justify-content: flex-end;
  }
  &-snapshoot {
    margin-top: 6px;
    padding-bottom: 10px;
  }
  .matched-text {
    font-weight: bold;
    color: #ea4335;
  }
  &-result-title {
    font-size: 20px;
    font-weight: bold;
    color: #031b3e;
  }
  .ant-list {
    padding-top: 10px;
  }
}
