name: Build and Deploy

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: "0 5 * * *"

env:
  PYDS_HOME: swap/dolphinscheduler/dolphinscheduler-python/pydolphinscheduler
  DEPENDENCES: pip setuptools wheel tox

jobs:
  build-website-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Prepare Related Resource
      run: ./scripts/prepare_docs.sh

    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 10.23.1

    - name: Build Main Document
      run: npm install && npm run build

    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Build Python Multiple Version Document
      working-directory: ${{ env.PYDS_HOME }}
      run: |
        python -m pip install --upgrade ${{ env.DEPENDENCES }}
        python -m tox -vv -e doc-build-multi
        cp -r docs/build/html/versions ${GITHUB_WORKSPACE}/dist/python

#    - name: Deploy
#      uses: peaceiris/actions-gh-pages@v3
#      with:
#        github_token: ${{ secrets.GITHUB_TOKEN }}
#        publish_branch: asf-site
#        publish_dir: ./dist
#        user_name: 'github-actions[bot]'
#        user_email: 'github-actions[bot]@users.noreply.github.com'
#        commit_message: 'Automated deployment:'
