name: Build and Deploy

on:
  push:
    branches:
      - master

env:
  PYDS_HOME: dolphinscheduler-python/pydolphinscheduler

jobs:
  build-py-doc:
    name: Build Python Doc
    runs-on: ubuntu-latest
    steps:
      - name: Checkout apache/dolphinscheduler
        uses: actions/checkout@v2
        with:
          repository: apache/dolphinscheduler
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install Development Dependences
        working-directory: ${{ env.PYDS_HOME }}
        run: |
          pip install -e .[doc]
      - name: Test Build Document
        working-directory: ${{ env.PYDS_HOME }}/docs
        run: make clean && make html
      - uses: actions/upload-artifact@v2
        name: Upload Python API Dist Doc
        with:
          name: python-dist-doc
          path: ${{ env.PYDS_HOME }}/docs/build/html
          retention-days: 1

  build-website-deploy:
    runs-on: ubuntu-latest
    needs: [ build-py-doc ]
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Prepare Related Resource
      run: ./script/prepare_docs.sh

    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 10.23.1
    - name: Build
      run: npm install && npm run build

    - uses: actions/download-artifact@v2
      name: Download Python API Dist Document
      with:
        name: python-dist-doc
        path: dist/python

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: asf-site
        publish_dir: ./dist
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'
        commit_message: 'Automated deployment:'
